.createCharMainWrapper {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 80rem;
  height: auto;
  margin-top: 1em;
  min-width: 0;
}

.charCardWrapper {
  display: flex;
  margin: 0.2rem;
  padding: 0.2rem;
}

.createCharInnerWrapper {
  display: flex;
  background: linear-gradient(
    180deg,
    rgba(64, 63, 63, 0.45),
    rgba(30, 30, 30, 0.598)
  );
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  align-self: center;
  width: fit-content;
  height: fit-content;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.createCharInputDiv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  margin: 0.2rem;
  line-height: 2.5rem;
  font-size: 1.2rem;
  width: 100%;
}

.charCardDiv {
  align-self: center;
  margin: 0.2rem;
}

@media (max-width: 1600px) {
  .createCharMainWrapper {
    max-width: 20em;
  }
  .charCardWrapper {
    flex-direction: column;
  }
  .nameplate {
    width: 20rem;
  }
  .inputText {
    max-width: 10em;
  }
  .createCharInputDiv {
    font-size: 1rem;
  }
}
