.homePageMainWrapper{
    justify-content: center;
    align-items: flex-start;
}

.charactersDiv, .partiesDiv{
    display: flex;
    position: relative;
    background: linear-gradient(180deg, rgba(64, 63, 63, 0.45), rgba(30, 30, 30, 0.598));
    border: 1px solid rgba(255,255,255,0.05);
    box-shadow: 0 4px 16px rgba(0,0,0,0.3);
    border-radius: 12px;
    margin: 0.2rem;
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
    line-height: 2.5rem;
    font-size: 1.2rem;
    min-width: 25rem;
}

.link-list {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.plain-list {
    list-style: none;
}

.link-list li a {
    display: flex; 
    padding: 0.75rem 10rem;
    font-size: 2rem;
    width: 300px;
    text-align: center;
    justify-content: center;
    transition: color 0.3s, background-color 0.3s;
    text-decoration: none;

    background: linear-gradient(180deg, rgba(124, 116, 116, 0.45), rgba(30, 30, 30, 0.598));
    border: 1px solid rgba(255,255,255,0.05);
    border-radius: 12px;
    margin-bottom: 0.1rem;
    align-self: center;
}

.link-list li a:hover {
    filter: brightness(1.1)
}

.link-list a:visited {
    color: #ccc;
}

.inputNum {
    width: 50px;
}

input {
    font-size: 1rem;
    border-style: solid;
    border-radius: 5px;
    border-color: #343333;
    background-color: #807878;
    
}

.timestamp {
    font-size: 0.6rem;
    color:#cfcbc163
}
