:root {
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    
    background:
      radial-gradient(circle at center, 
        rgba(255, 255, 255, 0.12) 0%,     /* light center */
        rgba(142, 142, 142, 0.08) 20%,    /* gentle fade */
        rgba(0, 0, 0, 0.85) 100%          /* dark outer */),
      url('textures/bgTexture.png');
    /* per-layer controls (1st = gradient, 2nd = texture) */
    background-repeat: no-repeat, repeat;
    background-size: cover, auto;          /* or: cover, 256px 256px */
    background-position: center, top left;
    background-attachment: fixed, fixed;   /* optional */
    /* no blend mode needed because gradient is already semi-transparent */
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:50px;
    width:100%;
 }

button, input[type="checkbox"] {
  transition: all 0.15s ease-in-out;
}
button:hover {
  background-color: rgba(255,255,255,0.1);
  transform: translateY(-1px);
  cursor: pointer;
}

h2, h3 {
  color: #dadada;
  font-weight: 600;
  letter-spacing: 0.03em;
  margin-bottom: 0.5rem;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.mainCharWrapper, .createCharMainWrapper, .homePageMainWrapper, .retiredCharactersMainWrapper{
  display: flex;
  position: absolute;
  margin-top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 1rem;

  /*Main Wrapper Box*/
  background: rgba(0, 0, 0, 0.11);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

form .saveButton{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  padding: 2rem;
  align-items: center;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.677);
}