.retiredCharactersMainWrapper{
    flex-direction: column;
    width: 100%;
    max-width: 60em;
    padding-bottom: 1em;
}

.retiredCharactersDiv{
    display: grid;
    padding: 1rem;
    border-radius: 12px;
    align-self: center;
    gap: 0.5rem;
    grid-template-columns: repeat(4, 1fr);
}

.retiredCharList{
    display: flex;
    flex-direction: column;
    border: none;
    border-color: #5e666e57;
    border-style: solid;
    white-space: nowrap;
    align-items: flex-start;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    border-radius: 12px;
    margin: 0;
    gap: 0.4rem;
    justify-content: center;
    font-weight: normal;
    letter-spacing: 0.03em;
    white-space: normal;
    text-align: center;
}

.retiredCharName{
    display: flex;
    position: relative;
    margin: 0px;
    align-self: center;
    justify-self: flex-start;
    margin-bottom: 0.2rem;
}

@media (max-width: 1600px) {
    .retiredCharactersMainWrapper{
        max-width: 23em;
        padding: 1em 0;
    }

    .retiredCharList{
        padding: .5rem .5rem;
        font-size: 1rem;
        list-style: none;
    }

    .retiredCharactersDiv{
        padding: .2em;
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
    }
}